<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LDBServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="LDBServiceSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="LDBServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://lite.realtime.nationalrail.co.uk/OpenLDBWS/ldb11.asmx"
        binding="basicHttpBinding" bindingConfiguration="LDBServiceSoap"
        contract="OpenLDBWS.LDBServiceSoap" name="LDBServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
